{% comment %} <div class="p-3 mb-2 bg-dark text-white" style="height: 350px;> {% endcomment %}
<section>  
<div class="footer">
  <div class="container" >
  <div class="row py-5">
    <div class="col text-light text-center m-auto">
     <em> "Success can be achieved through Prayer, honesty and hard work "</em>

    </div> 
  </div>
  <div class="row ">
    <div class="col text-center">
     <div class="circle mr-2">
      <i class="fas fa-cloud" style="font-size:48px;color:red;"></i>
     </div>
     <div class="circle mr-2">
      <i class="fa-brands fa-whatsapp"></i>
     </div>
     <div class="circle">
      <i class="fa-brands fa-whatsapp"></i>
     </div>  

    </div> 
  </div>
    <div class="row py-5">
      <div class="col text-light text-center m-auto">
       <p> &copy; All Right reserved to ZIAUUDIN JISAN</p>
  
      </div> 
      
  </div>
  </div>  
</div>  
</section>
    {% comment %} <footer class="row row-cols-5 py-5 my-5 border-top" >
      <div class="col">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="100"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <p class="text-muted">© 2021</p>
      </div>
  
      <div class="col">
  
      </div>
  
      <div class="col">
        <h5>Section</h5>
        <div >
        <ul class="nav flex-column" style="color:white;">
          <li class="nav-item mb-2" style="color:white"><a href="#" class="nav-link p-0 text-muted" >Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
        </div>
      </div>
  
      <div class="col">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>
  
      <div class="col">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>
    </footer>
</div>
</div> {% endcomment %}