{% extends 'base.html' %}
{% block content   %}
{% load static %}
<section>
<div class="container">
<div class="row"> 
       
<div class="col-md-6 m-auto ">
    <img src="{% static "images/plan.jfif"  %}" class="rounded" alt="..." width="500px" height=" 400px">
  </div>
</div> <br><br>
<div class="row">
<div class="col-md-12" id="k">
<h3 align="center">     Future Plans </h3>
<p>I like Python programming language. I want to be a web developer by Django  framework. And want to be a data scientist. I want to be manager of an  online shop using my digital marketing skills.
</p>
</div>        
</div>    
</div>
</section>
{% endblock content  %}