{% extends 'base.html' %}
{% block content   %}
{% load static %}
<section>
<br> <br>
<div class="p-3 mb-2 bg-light text-dark">
  <div class="container">
    <h6><b>Basic some skills</b> </h6>  
    <div class="row">
     
    <div class="col-md-4  py-3">
        <div id="k" style= "padding: 10px 10px 10px 10px;">
            <div class="card text-dark bg-white mb-3" style="max-width: 18rem;">
                <div class="card-header">MS Word</div>
                <div class="card-body">
                  <h5 class="card-title">MS Word</h5>
                  <p class="card-text">I have used for study perpose in my varsity</p>
                </div>
              </div>
            </div>      
            </div>
    
    <div class="col-md-4  py-3">
        <div id="k"   style= "padding: 10px 10px 10px 10px;">
            <div class="card text-dark bg-white mb-3" style="max-width: 18rem;">
                <div class="card-header">MS Powerpoint</div>
                <div class="card-body">
                  <h5 class="card-title">MS powerpoint</h5>
                  <p class="card-text">I have used for study perpose in my varsity</p>
                </div>
              </div>
            </div>      
            </div>
    
    <div class="col-md-4  py-3">
        <div  id="k" style= "padding: 10px 10px 10px 10px;">
            <div class="card text-dark bg-white mb-3" style="max-width: 18rem;">
                <div class="card-header">MS Excell</div>
                <div class="card-body">
                  <h5 class="card-title">MS Excell</h5>
                  <p class="card-text">I have used for study perpose in my varsity</p>
                </div>
              </div>
            </div>      
            </div>
    </div>
    <br>    
<h6><b>Web Development: front-end</b> </h6>  
<div class="row">

<div class="col-md-3 py-3"   > 
<div id="k" style= "padding: 10px 5px 10px 10px;" style="opacity: 0.5;">
<div class="card text-dark bg-white mb-3" style="max-width: 18rem;">
    <div class="card-header">HTML and CSS</div>
    <div class="card-body">
      <h5 class="card-title">HTML and CSS</h5>
      <p class="card-text">I have used in some project and this portfolio</p>
    </div>
  </div>
</div>
</div>
<div class="col-md-3  py-3">    
    <div  id="k"style= "padding: 10px 5px 10px 5px;">
        <div class="card text-dark bg-white mb-3" style="max-width: 18rem;">
            <div class="card-header">Bootstrap</div>
            <div class="card-body">
              <h5 class="card-title">Bootstrap</h5>
              <p class="card-text">I have used in some project and this portfolio</p>
        </div>
    </div>
</div>

</div>

<div class="col-md-3  py-3">
    <div  id="k"style= "padding: 10px 5px 10px 5px;">
        <div class="card text-dark bg-white mb-3" style="max-width: 18rem;">
            <div class="card-header">Java Script</div>
            <div class="card-body">
              <h5 class="card-title">Java script</h5>
              <p class="card-text">I have already used in some project</p>
            </div>
          </div>
        </div>      
        </div>


<div class="col-md-3  py-3">
    <div  id="k"style= "padding: 10px 5px 10px 5px;">
        <div class="card text-dark bg-white mb-3" style="max-width: 18rem;">
            <div class="card-header">React JS</div>
            <div class="card-body">
              <h5 class="card-title">React JS</h5>
              <p class="card-text">I have already used in some project</p>
            </div>
          </div>
        </div>      
        </div>
</div>
<br>
<h6><b>Web Development: Back-end</b> </h6>  
<div class="row">
 
<div class="col-md-4  py-3">
    <div id="k" style= "padding: 10px 10px 10px 10px;">
        <div class="card text-dark bg-white mb-3" style="max-width: 18rem;">
            <div class="card-header">Python</div>
            <div class="card-body">
              <h5 class="card-title">Python</h5>
              <p class="card-text">I have used in some project and this portfolio</p>
            </div>
          </div>
        </div>      
        </div>

<div class="col-md-4  py-3">
    <div id="k"   style= "padding: 10px 10px 10px 10px;">
        <div class="card text-dark bg-white mb-3" style="max-width: 18rem;">
            <div class="card-header">Django</div>
            <div class="card-body">
              <h5 class="card-title">Django</h5>
              <p class="card-text">I have used in some project and this portfolio</p>
            </div>
          </div>
        </div>      
        </div>

<div class="col-md-4  py-3">
    <div  id="k" style= "padding: 10px 10px 10px 10px;">
        <div class="card text-dark bg-white mb-3" style="max-width: 18rem;">
            <div class="card-header">Database</div>
            <div class="card-body">
              <h5 class="card-title">postgreSQL</h5>
              <p class="card-text">I have already used in some project</p>
            </div>
          </div>
        </div>      
        </div>
           
</div>


</div>

</div>
<br><br>
</section>

{% endblock content  %}